// Definitions

//    fonts 
@font-default: normal 300 17px~'/'27px 'Raleway', sans-serif;

//    colors
@color-font:          #262626;
@color-font-inverted: #ffffff;
@color-font-footer:   #b9b9b9;
@color-font-em:       #ff2b58;

@color-bg:            #ffffff; //use it for light backgrounds with images: hero, subscr, contact

//the next colors are encountered only once, you can not use these variables
//@color-bg-about:      #00c4c4;
//@color-bg-services:   #70bfff;
//@color-bg-galery:     #ffe92f;
//@color-bg-blog:       #b07cf7;
//@color-bg-footer:     #262626;

// @color-btn:           #ff6033;
// @color-btn2:          #5585a2;
// @color-btn3:          #96b92c;
// @color-btn4:          #f72b3b;

// @color-form:          #00c4c4;
// @color-form-border:   #355b82;

//    mixins
//the shadow under hovered items
.shadow() {
	box-shadow: 0 2px 5px rgba(0,0,0,.5);
}
.hover-shadow() {
	&:hover {
		box-shadow: 0 4px 10px rgba(0,0,0,.5);
	}
}

//    common blocks

//parametric mixin for headings h1, h2, h3
.heading(@font-size: 90px, @font-weight: 800,) {
	font: @font-default;
	font-size: @font-size;
	font-weight: @font-weight;
	line-height: @font-size;
	// margin: 100px auto 34px; //suitable only for h1 elements
}
//style for buttons and button-like links. A link element only needs bg-color.
.button() {
	width: 200px;
	height: 55px;
	border: 0px;
	color: @color-font-inverted;
	text-transform: uppercase;
	font-size: 20px;
	white-space: nowrap;
	text-overflow: ellipsis;
}
//wrapper for all section - put it into yours sections
.wrapper {
	max-width: 1170px;
	min-width: 970px;
	padding: 0 15px;
	margin: 0 auto;
	position: relative;
	// text-align: center;
}
.section-title {
	.heading();
	margin: 100px auto 34px;
}

.transition(@property:all) {
	transition: @property .2s ease-out;
}
// END: Definitions
//#############################################################################
a {
  background-color: transparent;
  text-decoration: none;
  color: @color-font;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
  line-height: 25px;
}
.h1 {
	margin: 0;
	font-size: 90px;
	font-weight: 800;
	font-family: 'Raleway', sans-serif;
}
.h2 {
	font-size: 60px;
	font-weight: 800;
	font-family: 'Raleway', sans-serif;
}
.h3 {
	font-size: 40px;
	font-weight: bold;
	font-family: 'Raleway', sans-serif;
}
.p {
	font: @font-default;
}
body {
	padding-top: 50px;
}
.button {
	display: inline-block;	
	text-align: center;	
	line-height: 55px;
	width: 200px;
	height: 55px;
	border: none;
	font-size: 20px;
	font-weight: 300;
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
	.shadow;
}
.button:hover {
	.transition;
	border-radius: 5px;
	.hover-shadow;
}
.button:active {
    box-shadow: 0 0 0 0 transparent;
}
//#############################################################################
/*      HEADER */

.header {
	position: relative;
	z-index: 4;
	width: 100vw;
	margin: 0 auto;
	background: rgba(255,255,255,1);
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	/*For IE 11*/
	position: fixed;
	/*For all browsers*/ 
	position: sticky;
	top: 0;

	&_wrap {
		.wrapper;
	}
	&_logo {
		display: inline-block;
	}
	&_menu {
		display: inline-block;
		float: right;
		padding-top: 12px;
	}
}
.menu_link {
	text-transform: uppercase;
	position: relative;
	display: inline-block;
	margin-left: 33px;
	&::before {
		visibility: hidden;
			position: absolute;
			top: -9px;
			display: block;
			content: "";
			width: 1%;
			height: 3px;
			background: red
	}
	&:active:before,
	&:hover:before {
		transition: width .5s ease-out;
		width: 100%;
		visibility: visible;
	}
	&__first {
		margin-left: 0;
	}
}
	

/* END: HEADER */
//#############################################################################
/*      HERO */

.home {
	margin: 0 auto;
	max-width: 1500px;
	height: 898px;
	position: relative;
	z-index: 3;

	&:before {
		position: absolute;
		content: "";
		max-width: 1500px;
		height: 1000px;
		top: -102px;
    	right: 0;
    	left: 0;
    	bottom: 0;
		z-index: 0;
		background-image: url(../image/screen1.jpg);
		background-repeat: no-repeat;
	}
	&_wrap {
		.wrapper;
		z-index: 5;
		padding-top: 197px;
	}
	&_content {
		width: 400px;
	}
	&_content .h2 {
		margin-bottom: 12px;
		letter-spacing: 0.01em;
	}
	&_content .p {
		margin: 0;
	}

	&_scroll {
		display: inline-block;
		width: 20px;
		height: 40px;
		border: 2px solid #000;
        border-radius: 25px ;
		position: relative;
		left: 50%;
		bottom: -290px;
        box-shadow: 0 0 5px grey inset;
		animation: scrol 900ms cubic-bezier(0.6, -0.28, 0.735, 0.045) 2.5s infinite;
    	animation-direction: alternate;
	
		&:after {
			position: absolute;
			display: block;
			content: '';
			width: 2px;
			height: 10px;
			background: #000;
			left: 9px;
			top: 5px;
		}
		&:hover {
	    animation-play-state: paused;
		}
	}
}
.button__home {
		background: #FF6033;
		color: #fff;
		margin-top: 30px;
	}
@keyframes scrol {
	0% {transform: translateY(0px);}
	100% {transform: translateY(15px);}
}

/* END: HERO */
//#############################################################################
/*      ABOUT */

.about {
	width: 100%;
	height: 700px;
	background: #00B2B2;
}
.about_wrap {
	width: 1300px;
	height: 100vh;
	margin: 0 auto;
	display: flex;
	-webkit-justify-content: space-between;
	        justify-content: space-between;
	-webkit-align-items: center;
	        align-items: center;
}
.about_content {
	width: 550px;
	color: #fff;
}

/* END: ABOUT */
//#############################################################################
/*      SERVICES */

.services {
	width: 100%;
	height: 790px;
	background: #70BFFF;
}
.services_wrap {
	width: 1300px;
	height: 100%;
	margin: 0 auto;
	display: flex;
	-webkit-justify-content: space-between;
	        justify-content: space-between;
	-webkit-align-items: center;
	        align-items: center;
}
.services_menu {
	height: 500px;
	display: flex;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-justify-content: space-around;
	            justify-content: space-around;
	margin: auto;
}

	/*      SERVICES-Category */

.category {
	width: 400px;
	height: 100px;
	display: flex;
	-webkit-align-items: stretch;
	        align-items: stretch;
	background: #FFF;
	font-size: 20px;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	-webkit-box-shadow: 2px 2px 5px 0 rgba(0,0,0,.5);
	        box-shadow: 2px 2px 5px 0 rgba(0,0,0,.5);
}
.category:hover {
	-webkit-box-shadow: 4px 4px 10px 0 rgba(0,0,0,.5);
	        box-shadow: 4px 4px 10px 0 rgba(0,0,0,.5);
}
.category_link {
	width: 300px;
	background: transparent;
	border-right: 1px solid black;
	text-align: center;
	line-height: 27px;
	display: flex;
	-webkit-justify-content: center;
	        justify-content: center;
	-webkit-align-items: center;
	        align-items: center;
}
.category_icon {
	width: 100px;
	background: transparent;
	background-repeat: no-repeat;
	background-position: center;
}
.category_icon__shopping {
	background-image: url(../image/icon_shoppind.png);
}
.category_icon__product {
	background-image: url(../image/icon_product.png);
}
.category_icon__delivery {
	background-image: url(../image/icon_delivery.png);
}
.category_icon__organized {
	background-image: url(../image/icon_organized.png);
}
.services_item {
	width: 50%;
	height: 100%;
	color: #FFF;
	font-size: 90px;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	display: flex;
	-webkit-justify-content: center;
	        justify-content: center;
	-webkit-align-items: center;
	        align-items: center;
	background-image: url(../image/screen3.png);
	background-position: center;
	background-repeat: no-repeat;
}

	/* END: SERVICES-Category */

/* END: SERVICES */
//#############################################################################
/*      GALLERY */

.gallery {
	width: 100%;
	height: 1540px;
	background: #FFE92F;
}
.gallery_wrap {
	max-width: 1170px;
	height: 100%;
	margin: 0 auto;
	padding: 100px 15px 0;
	text-align: center;
}
.gallery_wrap p {
	width: 45%;
	margin: 30px auto;
}

	/*      Gallery-Grid */

.gallery_grid {
  // min-width: 1024px;
  max-width: 1170px;
  height: 980px;
  margin: auto;
  display: grid;
  grid-template: 1fr 1fr 1fr 1fr 1fr 1fr 1fr~'/' 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 30px;
  grid-auto-flow: dense;
}
.grid_element {
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
	-webkit-box-shadow:2px 2px 5px 0 rgba(0,0,0,.5) ;
	        box-shadow:2px 2px 5px 0 rgba(0,0,0,.5) ;
}
.grid_element:hover {
  -webkit-box-shadow: 4px 4px 10px 0 rgba(0,0,0,.5);
          box-shadow: 4px 4px 10px 0 rgba(0,0,0,.5);
}
.element__first {
	grid-area:1~'/'1~'/'span 4~'/'5;
	background-image: url(../image/4_1.jpg);
}
.element__second {
	grid-area: 1~'/'5~'/'span 2~'/'span 2;
	background-image: url(../image/4_2.jpg);
}
.element__third {
	grid-area: 3~'/'5~'/'span 2~'/'span 2;
	background-image: url(../image/4_3.jpg);
}
.element__four {
	grid-area: 5~'/'1~'/'span 3~'/'span 3;
	background-image: url(../image/4_4.jpg);
}
.element__five {
	grid-area: 5~'/'4~'/'span 3~'/'span 3;
	background-image: url(../image/4_5.jpg);
}

	/* END: Gallery-Grid */

.gallery_button {
	background: #5585A2;
	margin-top: 50px;
	color: #fff;
}

/* END: GALLERY */
//#############################################################################
/*      SUBSCRIBE */

.subscribe {
	width: 100%;
	height: 500px;
	background-image: url(image/screen5.jpg);
}
.subscribe_wrap {
	width: 1300px;
	height: 100%;
	margin: 0 auto;
	padding: 100px 50px;
}
.subscribe_wrap p {
	width: 45%;
}
.input_email {
	width: 570px;
	height: 55px;
	border: 1px solid #262626;
	padding-left: 20px;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	margin-right: 20px;
}
.input_email:focus {
	outline: none;
}
.input_email::-webkit-placeholder,
.input_email::placeholder {
	font-size: 15px;
	line-height: 27px;
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	color: #262626;
}
.subscribe_button {
	color: #fff;
	background: #96B92C;
}

/* END: SUBSCRIBE */
//#############################################################################
/*      BLOG */

.blog {
	width: 100%;
	height: 860px;
	background: #B07CF7;
}
.blog_wrap {
	width: 1300px;
	height: 100%;
	margin: 0 auto;
	text-align: center;
	padding-top: 100px;
	color: #FFF;
	font-family: 'Raleway', sans-serif;
}
.blog_wrap p {
	width: 45%;
	margin: 25px auto;
}
.blog_conteiner {
	width: 1170px;
	margin: auto;
	display: flex;
	-webkit-justify-content: space-between;
	        justify-content: space-between;
}
.article {
	position: relative;
	width: 370px;
	height: 310px;
	-webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,.5);
	        box-shadow: 0 0 5px 0 rgba(0,0,0,.5);
}
.article:hover {
	-webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,.5);
	        box-shadow: 0 0 10px 0 rgba(0,0,0,.5);
}
.article_first {
	background-image: url(image/6_1.jpg);
}
.article_second {
	background-image: url(image/6_2.jpg);
}
.article_third {
	background-image: url(image/6_3.jpg);
}
.article__hover {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	display: none;
	width: 370px;
	height: 310px;
	color: #FFF;
	padding: 30px;
	background: linear-gradient(to bottom, rgba(0,0,0,0) 37%,rgba(0,0,0,0.16) 57%,rgba(0,0,0,0.54) 80%,rgba(0,0,0,0.95) 100%);
}
.article:hover .article__hover {
	display: block;
}
.article_date {
	width: 60px;
	height: 60px;
	background: rgba(0,0,0,.5);
	-webkit-border-radius: 5px;
	        border-radius: 5px;
	font-size: 21px;
	line-height: 25px;
	font-family: 'Raleway', sans-serif;
	font-weight: 800;
	text-transform: uppercase;
}
.article_title {
	font-size: 20px;
	font-family: 'Raleway', sans-serif;
	font-weight: 800;
	text-align: left;
	margin-top: 120px;
}
.article_time-ago {
	font-size: 13px;
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	text-align: left;
	margin-top: 20px;
}
.blog__button {
	color: #FFF;
	background: #F72B3B;
	margin-top: 70px;
}

/* END: BLOG */
//#############################################################################
/*      CONTACT */

.contact {
	background-image: url(image/screen7.jpg);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
}
.contact_wrap {
	width: 1300px;
	height: 860px;
	margin: 0 auto;
	text-align: center;
	padding-top: 100px;
	color: #262626;
}
.contact_wrap p {
	width: 360px;
	margin: 50px auto;
	line-height: 25px;
	padding: 0 15px;
}
.contact_conteiner {
	display: flex;
	-webkit-justify-content: space-between;
	        justify-content: space-between;
	-webkit-align-items: flex-start;
	        align-items: flex-start;
}

	/*      CONTACT-Form */
.contact_form {
	width: 500px;
	display: flex;
	height: 520px;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-justify-content: space-around;
	        justify-content: space-around;
}
.contact_input {
	line-height: 55px;
	border: none;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	/*display: block;*/
	width: 450px;
	background: rgba(0,196,196,.5);
	color: #FFF;
	padding-left: 20px;
}
.contact_input::placeholder {
	color: #FFF;
}
.contact_input:hover,
.contact_input:focus {
	background: rgba(0,196,196,1);
	border-left: 4px solid #355B82;	
}
	/* END: CONTACT-Form */

.contact_info {
	display: flex;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-align-items: flex-start;
	        align-items: flex-start;
	-webkit-justify-content: space-around;
	        justify-content: space-around;
	width: 500px;
	height: 170px;
	font-size: 20px;
	line-height: 25px;
}
.contact_info span {
	text-transform: uppercase;
	font-size: 17px;
	font-weight: 700;
}

/* END: CONTACT */
//#############################################################################
/*      FOOTER */

.footer {
	background: #262626;
	color: #fff;
	margin: 0;
	padding: 0;
}
.footer_wrap {
	width: 1300px;
	height: 90px;
	margin: 0 auto;
	display: flex;
	-webkit-justify-content: space-between;
	        justify-content: space-between;
	-webkit-align-items: center;
	        align-items: center;
}
.footer_wrap a {
	color: #FFF;
	font-weight: 300;
}
.footer_wrap a:hover {
	text-decoration: underline;
}
.footer_wrap span {
	color: #F24261;
	font-weight: 700;
}

/* END: FOOTER */